---
// import { VscArrowRight } from 'react-icons/vsc';
import type { Post } from '../../../types/sanity-types.d';
import { getSanityImageUrl } from '../../../utils/helpers';
import SeeMoreLink from '../../elements/SeeMoreLink';
const { mainImage, title, excerpt, categories, slug, postTags}: Post = Astro.props.post;
---

<article
  class="w-full max-w-full lg:w-96 lg:h-48 flex space-x-2 lg:space-x-0 lg:flex-col"
>
  <img
    class="object-cover w-1/4 lg:h-48 lg:w-96 lg:rounded-t"
    src={getSanityImageUrl(mainImage).url()}
    loading="lazy"
  />
  <div
    class="pl-2 w-full max-w-full lg:w-96 lg:h-48 flex flex-col bg-gradient-to-br from-light-bg/80 dark:from-dark/80 to-light-bg/10 dark:to-dark/10 backdrop-blur-xl border-b-[1px] lg:border border-light-bg/30 lg:rounded transition ease-in-out cursor-pointer hover:-translate-y-1 hover:scale-100 hover:bg-slate-100/90 dark:hover:bg-dark/80"
  >
    <div class="flex flex-row flex-wrap space-x-4 justify-end">
      {categories &&
        categories.map((category) => (
          <span class="font-normal text-magenta dark:text-green/75">{category}</span>
        ))}
    </div>
    <h3 class="text-md lg:text-lg my-3">{title}</h3>
    <p class="pl-2 h-full">
      {excerpt}
    </p>
    
    <div class="pl-2 w-full">
      <div class="flex flex-row flex-wrap space-x-4 justify-start">
        {postTags &&
          postTags.map((tag) => (
            <span class="font-normal mb-2 text-purple dark:text-orange">{tag.label}</span>
          ))}
      </div>
      
    </div>
    <a
    href={`/blog/${slug.current}`}
    target="_self"
    class="w-full h-full absolute lg:relative lg:p-2"
    >
      <div class="hidden lg:block items-center absolute bottom-0 right-0 p-2 space-x-2">
        <span>See More</span>
        <SeeMoreLink />
      </div>
    </a>
  </div>
</article>
