---
import { client } from '../../lib/sanityClient';
import { AllPosts } from '../../lib/api';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Post } from '../../types/sanity-types.d';
import BlogPreview from '../../components/sections/blog/BlogPreview.astro';
import Footer from '../../components/elements/Footer.astro';

const title = 'David Huson | Blog';
const description = 'My Blog';
const permalink = 'https://davidhuson.dev/blog';

const allPostData = await client.fetch(AllPosts);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  canonicalURL={Astro.url.href}
>
  <div class="relative">
    <div class="type dark:type-invert absolute left-5 z-0">
      <h1 class="lg:text-5xl md:text-4xl opacity-15">Blog</h1>
    </div>
    <div
      class="p-6 inline-flex flex-wrap gap-6 justify-center align-middle mt-64"
    >
      {allPostData.map((post: Post) => <BlogPreview post={post} />)}
    </div>
    <!-- {allPostData.map((post: Post) => <BlogPreview post={post} />)}
        {allPostData.map((post: Post) => <BlogPreview post={post} />)} -->
  </div>
  <Footer />
</BaseLayout>
