---
import { site } from '../../../data/site';
import ThemeToggle from './ThemeToggle';
import SocialIcons from '../../elements/SocialIcons';

const nav = [
  { link: '/blog', name: 'Blog' },
  { link: '/projects', name: 'Projects' },
  { link: '/about', name: 'About me' },
];
---

<div
  class="max-w-6xl  mx-auto px-4 py-5 type dark:type-invert leading-none no-underline"
>
  <div class="flex  md:flex-row justify-between items-center">
    <div class="flex flex-col">
      <a href="/">
        <h1 class="font-semibold text-xl dark:text-gray-100 ">
          {site.name}
        </h1>
        <h6 class="text-gray-light dark:text-gray-300 ">
          ASPIRING SOFTWARE ENGINEER
        </h6>
      </a>
    </div>
    <!-- Desktop nav links -->
    <div class="space-x-8 hidden md:block">
      <div class="flex space-x-4">
        {nav.map((item) => (
          <a
            href={item.link}
            target={'_self'}
            class="text-base text-gray-600 dark:text-gray-300 font-normal"
          >
            {item.name}
          </a>
        ))}
      </div>
    </div>
    <!-- Mobile nav links -->
    <div class="space-x-8 block md:hidden mt-4">
      {nav.map((item) => (
        <a
          href={item.link}
          target={'_self'}
          class="text-base font-normal text-gray-600 dark:text-gray-300"
        >
          {item.name}
        </a>
      ))}
    </div>
    <div class="space-x-4 flex flex-row items-center">
      <!-- Social Icons -->
      <SocialIcons />
      <!-- dark mode toggle -->
      <ThemeToggle />
    </div>
  </div>
</div>
