---
import { AllProjects, AllPosts } from '../lib/api';
import ProjectCard from '../components/sections/projects/ProjectCard.astro';
import Hero from '../components/elements/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../components/sections/projects/Projects.astro';
import { client } from '../lib/sanityClient';
import type { Project, Post } from '../types/sanity-types.d';
import BlogSection from '../components/sections/blog/BlogSection.astro';
import BlogPreview from '../components/sections/blog/BlogPreview.astro';
import Footer from '../components/elements/Footer.astro';

const title = 'David Huson | Software Engineer';
const description = 'This is my first Portfolio site!';
const permalink = 'https://davidhuson.dev/';

const allProjects = await client.fetch(AllProjects);
const allPosts = await client.fetch(AllPosts);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  canonicalURL={Astro.canonicalURL.href}
>
  <div>
    <Hero />
    <Projects>
      {allProjects.map((project: Project) => (
        <ProjectCard client:load project={project} />
      ))}
      {allProjects.map((project: Project) => (
        <ProjectCard client:load project={project} />
      ))}
    </Projects>
    <BlogSection>
      {allPosts.map((post: Post) => <BlogPreview client:load post={post} />)}
      {allPosts.map((post: Post) => <BlogPreview client:load post={post} />)}
    </BlogSection>
  </div>
  <Footer />
</BaseLayout>
