---
import { AllProjects, AllPosts } from '../lib/api';
import ProjectCard from '../components/sections/projects/ProjectCard';
import Hero from '../components/elements/Hero.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import Projects from '../components/sections/projects/Projects.astro';
import { client } from '../lib/sanityClient';
import type { Project, Post } from '../types/sanity-types.d';
import BlogSection from '../components/sections/blog/BlogSection.astro';
import BlogPreview from '../components/sections/blog/BlogPreview.astro';
import Footer from '../components/elements/Footer.astro';

const title = 'David Huson | Software Engineer';
const description = 'This is my first Portfolio site!';
const permalink = 'https://davidhuson.dev/';

const allProjects = await client.fetch(AllProjects);
const allPosts = await client.fetch(AllPosts);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  canonicalURL={Astro.url.href}
>
  <div>
    <Hero />
    <Projects>
      {allProjects.map((project: Project) => <ProjectCard project={project} />)}
    </Projects>
    <BlogSection>
      {allPosts.map((post: Post) => <BlogPreview post={post} />)}
    </BlogSection>
    <div
      class="rounded-md bg-blue-dark dark:bg-lavender px-3 py-2 type type-invert dark:text-dark  fixed bottom-10 right-10 motion-safe:animate-pulse"
    >
    <span>Download my Resume!</span>
  </div>
  </div>
  <Footer />
</BaseLayout>
