---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Footer from '../../components/elements/Footer.astro'
import Wrapper from '../../layouts/Wrapper.astro'
import { client } from '../../lib/sanityClient.ts'
import { AllProjects } from '../../lib/api.ts'
import { Project } from '../../types/sanity-types.d.ts'
import ProjectCard from '../../components/sections/projects/ProjectCard.astro'
import Projects from '../../components/sections/projects/Projects.astro'

const title = 'David Huson | Projects'
const description = 'My Projects'
const permalink = 'https://davidhuson.dev/projects'

const allProjects = await client.fetch(AllProjects)
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  canonicalURL={Astro.canonicalURL.href}
>
  <Wrapper>
    <div class='min-h-screen'>
      <Projects>
        {allProjects.map((project: Project) => (
          <ProjectCard project={project} />
        ))}
        {allProjects.map((project: Project) => (
          <ProjectCard project={project} />
        ))}
        {allProjects.map((project: Project) => (
          <ProjectCard project={project} />
        ))}
      </Projects>
    </div>
  </Wrapper>
  <Footer />
</BaseLayout>
