---
import BaseHead from '../components/sections/header/BaseHead.astro';
import Navigation from '../components/sections/header/Navigation.astro';

const { title, description, permalink, publishDate, ogImageUrl, canonicalURL } =
  Astro.props;
---

<!DOCTYPE html>
<html lang='en' class='dark'>
  <head>
    <script>
      const checkbox = document.querySelector('#checkbox');
      const html = document.querySelector('html');

      const toggleDarkMode = () => {
        checkbox!.checked
          ? html.classList.add('dark')
          : html.classList.remove('dark');
      };

      // calling the function directly
      toggleDarkMode();
      checkbox.addEventListener('click', toggleDarkMode);
    </script>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
      canonicalURL={canonicalURL}
      publishDate={publishDate}
      ogImageUrl={ogImageUrl}
    />
    <Navigation client:load />
  </head>
  <body class='bg-slate-100 dark:bg-dark text-slate-900 dark:text-slate-50'>
    <main>
      <slot></slot>
    </main>
  </body>
</html>
