---
import BaseHead from '~/components/sections/header/BaseHead.astro';
import Header from '~/components/sections/header/Header.astro';
import '../../styles/tailwind.css';
import '@fontsource/cormorant';
import '@fontsource/roboto';

const { title, description, permalink, publishDate, ogImageUrl, canonicalURL } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <script>
      const html = document.querySelector('html');
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        html!.classList.add('dark');
      } else {
        html!.classList.remove('dark');
      }
    </script>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
      canonicalURL={canonicalURL}
      publishDate={publishDate}
      ogImageUrl={ogImageUrl}
    />
  </head>
  <body
    class="bg-[url(/Light-bg.png)] dark:bg-gradient-to-r dark:bg-gardient-to-r dark:from-dark-primary dark:via-dark-glass dark:to-dark-primary text-dark-primary dark:text-light-txt"
  >
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
