---
import BaseHead from '../components/sections/header/BaseHead.astro';
import Navigation from '../components/sections/header/Navigation';

const { title, description, ogImageURL, publishDate, permalink } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <script>
      const checkbox: HTMLInputElement = document.querySelector('#checkbox');
      const html = document.querySelector('html');

      const toggleDarkMode = () => {
        checkbox!.checked
          ? html.classList.add('dark')
          : html.classList.remove('dark');
      }; // calling the function directly
      toggleDarkMode();
      checkbox.addEventListener('click', toggleDarkMode);
    </script>
    <BaseHead
      title={title}
      description={description}
      permalink={permalink}
      ogImageUrl={ogImageURL}
      publishDate={publishDate}
      canonicalURL={Astro.url.href}
      articleSchema
    />
  </head>
  <body
    class="bg-slate-100 dark:bg-dark-primary text-slate-900 dark:text-slate-50"
  >
    <Navigation client:visible />
    <main>
      <slot />
    </main>
  </body>
</html>
